<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{Baselayout/layout}" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Begin Page Content -->
				<div class="container-fluid" layout:fragment="content">
					<div class="row">
						<div class="col-lg-12">
							<!-- 404 Error Text -->
							<div class="text-center mb-4">
								<div class="error mx-auto" data-text="Error!">Error!</div>
								<p class="lead text-gray-800">Something went wrong...</p>
								<p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
								<a th:href="@{/}">&larr; Back to Dashboard</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 mx-auto">
							<!-- DataTales Example -->
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary text-center">Error Info</h6>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
											<tbody>
												<tr>
													<td>Date</td>
													<td><span th:text="${timestamp}"></span></td>
												</tr>
												<tr>
													<td>Path</td>
													<td><span th:text="${path}"></span></td>
												</tr>
												<tr>
													<td>Error</td>
													<td><span th:text="${error}"></span></td>
												</tr>
												<tr>
													<td>Status</td>
													<td><span th:text="${status}"></span></td>
												</tr>
												<tr>
													<td>Message</td>
													<td><span th:text="${message}"></span></td>
												</tr>
												<tr>
													<td>Exception</td>
													<td><span th:text="${exception}"></span></td>
												</tr>
												<tr>
													<td>Trace</td>
													<td><textarea readonly="readonly" class="form-control" rows="5">[[${trace}]]</textarea></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->
	<th:block layout:fragment="scripts">
		<script>
				
		</script>
	</th:block>
</body>

</html>
