<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
<meta charset="ISO-8859-1">
<title>ECGC Demo</title>
 <style>

    /*style for loader*/
    .loader {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url('resources/common/images/d-loading.gif') 50% 50% no-repeat rgb(249, 249, 249);
    }
  </style>

</head>
<body>
<div class="loader"></div>
<div layout:fragment="content">
          <div class="conatiner-fluid">
          
   <nav aria-label="breadcrumb" class="mt-2">
   <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="indexwithsm">HRD</a></li>
    <li class="breadcrumb-item active" aria-current="page">All Employees</li>
     
  </ol>
</nav>
          
          <div class="card shadow mb-4 mt-2 border-left-danger" >

            <!--card header-->
            <div class="card-header py-3">
              <div class="form -group row">
                <div class="col-sm-10 mb-3 mb-sm-0">
                  <h6 class="m-0 font-weight-bold " id="datatables">All Employees</h6>
                 
                </div>

                <div class="col-sm-2 mb-3 mb-sm-0">
                   <a th:href="@{'/employee/create'}"> <button type="button" class="btn btn-primary btn-icon-split float-right" >
                    <span class="icon ">
                      <em class="fas fa-plus"></em>
                    </span> <span class="text">Add New</span>
                  </button></a>
                </div>
              </div>
            </div>
            <!--end of card header-->


            <div class="card-body">

               <div class="table-responsive"> 
              <table class="table table-bordered table-striped col-sm-12 mb-3 mb-sm-0" id="example1" >

                <thead>
                  <tr>

                   	<th>Employee Code</th>
														<th>Employee Name</th>
														<th>Employee DOB</th>
														<th>Date of Joining</th>
														<th>Action</th>

                  </tr>
                </thead>

                <tbody>
						<tr th:each="employee : ${listEmployee}">
													
													 	<td th:text="${employee.empId}"></td>
													    <td th:text="${employee.firstName}"></td>
													  	<td th:text="${employee.dob}"></td>
													 	<td th:text="${employee.doj}"></td>
													 	<td>
                   															 &nbsp;&nbsp;&nbsp;
                    									<a th:href="@{'/employee/' + ${employee.empId}}">Delete</a></td>
												</tr>
                </tbody>
              </table>

              <!-- table responsive --> </div>
              <br></br>
					<form th:action="@{/report}" method="get">
					<label><strong>Report Generation<span class="text-danger">*</span></strong></label>
					<div class="form-group row">
					<div class="col-sm-6 mb-3 mb-sm-0">
						<select class="form-control" id="reportFormat" name="reportFormat">
							<option value="">Select format</option>
							<option  th:value="pdf"
								th:text="PDF"></option>
								<option  th:value="csv"
								th:text="CSV"></option>
								<option  th:value="xls"
								th:text="XLS"></option>
								<option  th:value="xml"
								th:text="XML"></option>
								<option  th:value="html"
								th:text="HTML"></option>
						</select>
							
						</div>
						<div class="col-sm-6 mb-3 mb-sm-0">
						<button type="submit"
								class="btn btn-primary btn-icon-split">
								<span class="text">Generate report</span>
							</button>
						</div>
						</div>
				
					</form>
				</div>
          </div>
          <div class="alert alert-danger dngr" role="alert" th:if="${err != null}"  th:text="${err}">
      </div>


          <!--start of model related to Delete-->
   
        </div>
        <!-- /.container-fluid -->
     
      <!-- End of Main Content -->

     

    
    <!-- End of Content Wrapper -->

 
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <em class="fas fa-angle-up"></em>
  </a>


</div>

  <!--export table js-->
   <script th:src="|resources/js/datatablejs/jquery-3.3.1.js|"></script> 
 
  <!--js for loader--->
  <script>
    $(window).ready(function() {
      $('.loader').fadeOut(1000);
    });
  </script>

</body>
</html>